<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./index.css">
    <link rel="stylesheet" href="/css/tata-cara.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <title>Tata Cara Pendaftaran - Aresta 17</title>
</head>
<body>
    <div class="mb-nav">
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links" id="mb-about">About &#11167</li>
        <div class="about-content" id="ab-con">
            <a href="/#apaitu">aresta 17?</a>
            <a href="/#trailer">trailer</a>
            <a href="/#lomba">lomba</a>
            <a href="/#kontak">contact</a>
        </div>
        <li class="navbar-links"><a href="/merchandise">Merch</a></li>
        <li class="navbar-links" id="mb-info">info  &#11167</li>
        <div class="info-content" id="in-con">
            <a href="/cara-daftar">cara daftar</a>
            <a href="/ketentuan-umum">K U lomba</a>
            <!-- <a href="/jadwal-acara">jadwal acara</a> -->
        </div>
        <li class="navbar-login"><a href="/login">Login</a></li>
        <li class="navbar-links"><a href="/register">Daftar</a></li>
</div>
<nav class="navbar" id="navbar">
    <ul class="mobile">
        <li class="navbar-text">ARESTA 17</li>
        <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
    </ul>
    <ul class="desktop">
        <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links" id="about">About &#11167</li>
        <div class="about-content">
            <a href="/#apaitu">aresta 17?</a>
            <a href="/#trailer">trailer</a>
            <a href="/#lomba">lomba</a>
            <a href="/#kontak">contact</a>
        </div>
        <li class="navbar-links"><a href="/merchandise">Merch</a></li>
        <li class="navbar-links" id="info">info  &#11167</li>
        <div class="info-content">
            <a href="/cara-daftar">cara daftar</a>
            <a href="/ketentuan-umum">K U lomba</a>
            <!-- <a href="/jadwal-acara">jadwal acara</a> -->
        </div>
        <li class="navbar-login"><a href="/login">Login</a></li>
    </ul>
</nav>
    <div class="page-one">
        <h1>Tata Cara Pendaftaran Akun ARESTA 17</h1>
        <p>1. Isi data-data yang diperlukan, seperti Asal Sekolah dan sebagainya</p>
        <p>2. Isi juga data berupa email (diperlukan untuk verifikasi nanti), nomor whatsapp aktif, serta sandi yang terdiri dari minimal 8 karakter, mempunyai huruf besar dan kecil</p>
        <img src="../resources/2.png" width="60%" height="auto" alt="gambar register page">
        <p>3. Klik tombol daftar</p>
        <p>4. Jika berhasil, akan muncul tampilan seperti di gambar berikut</p>
        <img src="../resources/3.png" width="60%" height="auto" alt="gambar pesan registrasi berhasil">
        <p>5. Buka alamat email anda</p>
        <p>6. Cari dan buka email dari informasi.aresta@gmail.com</p>
        <img src="../resources/4.png" width="60%" height="auto" alt="gambar isi email verifikasi">
        <p>7. Klik tombol verifikasi akun</p>
        <p>8. Jika muncul tampilan seperti di gambar, maka akun anda telah aktif.</p>
        <img src="../resources/5.png" width="60%" height="auto" alt="gambar pesan akun anda telah aktif">
        <p>9. Lanjutkan dengan login menggunakan email serta password yang tadi telah didaftarkan</p>
        <p>10. Proses pendaftaran akun ARESTA telah selesai. Lanjutkan dengan mengisi dokumen-dokumen yang diperlukan.</p>
        <p>Bila ada pertanyaan lebih lanjut, silakan hubungi nomor Customer Service ARESTA <a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" rel="noopener" target="_blank">0858 6370 4512.</a></p>
    </div>
</body>
<script src="/js/navbar.js"></script>
</html>