@font-face {
    font-family: "poppins-bold";
    src: url("./font/Poppins-Bold.ttf");
}
@font-face {
    font-family: "poppins-regular";
    src: url("./font/Poppins-Regular.ttf");
}
body{
    background-color: black;
    height:auto;
    display: block;
    max-width: 180%;
    max-height: 100%;
    margin-left: 15vh;
}
h1{
    /*font-family: "poppins-bold";*/
    text-align: left;
}
h4{
    /*font-family: "poppins-regular";*/
    font-size: inherit;
    text-align: left;
}
.comingsoon{
    display: block;
    text-align: center;
    margin: 35vh auto 0;
    font-size: 80%;
    color: white;
}
a{
    color: inherit;
    font-size: inherit;
}
h4.abc{
    font-size: 100%;
}
p{
    text-align: left;
}