@import url("./font/font.css");

html {
  scroll-behavior: smooth;
}

#cek {
  visibility: hidden;
}
.mb-nav {
  display: none;
}

.navbar {
  font-family: "Poppins";
  top: 0px;
  position: fixed;
  width: 100%;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  transition: 1s;
}

.nav-color {
  transition: 1s;
  background-color: rgb(255, 0, 204);
}

.navbar ul {
  display: flex;
  flex-direction: row;
  justify-content: end;
  margin: 0px;
}

.navbar ul li {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0px 20px;
  cursor: pointer;
  color: white;
}

.navbar ul .navbar-links:hover {
  color: rgb(255, 0, 204);
  background-color: yellow;
  padding: 0px 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: white;
}

.navbar ul li:hover a {
  color: rgb(255, 0, 204);
}

.navbar ul .navbar-logo {
  position: fixed;
  top: 3px;
  left: 3%;
}

.navbar ul .navbar-toggle {
  display: none;
}

.navbar ul .navbar-text {
  display: none;
}

.navbar ul .navbar-links {
  padding: 18px 30px;
}

.navbar ul .navbar-login a {
  border-radius: 50px;
  padding: 12px 30px;
  background-color: yellow;
  color: rgb(255, 0, 204);
}

.navbar ul .navbar-login a:hover {
  background-color: rgb(255, 0, 204);
  color: yellow;
}
/* About Content */
.navbar ul .about-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 0, 204);
  width: 100%;
  top: 60px;
  text-align: center;
  text-transform: capitalize;
}

.navbar ul .about-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.navbar ul .about-content:hover {
  display: block;
}

.navbar ul .about-content a:hover {
  background-color: yellow;
  color: rgb(255, 0, 204);
}

.navbar ul.desktop li#about:hover + .about-content {
  display: block;
}

/* Info content */
.navbar ul .info-content {
  display: none;
  position: absolute;
  background-color: rgb(255, 0, 204);
  width: 100%;
  top: 60px;
  text-align: center;
}

.navbar ul .info-content a {
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-transform: capitalize;
}

.navbar ul .info-content:hover {
  display: block;
}

.navbar ul .info-content a:hover {
  background-color: yellow;
  color: rgb(255, 0, 204);
}

.navbar ul.desktop li#info:hover + .info-content {
  display: block;
}

/* mobile about content */
.mb-nav .about-content {
  display: none;
}

/* mobile info content */
.mb-nav .info-content {
  display: none;
}

@media (max-width: 700px) {
  .navbar {
    height: 50px;
    width: 100%;
    text-align: initial;
  }

  .navbar .mobile {
    justify-content: space-around;
  }

  .navbar .desktop {
    display: none;
  }

  #cek:checked + .mb-nav {
    visibility: visible;
    opacity: 1;
    transition: 0.5s;
  }

  .mb-nav {
    font-family: "Poppins";
    transition: 0.5s;
    opacity: 0;
    visibility: hidden;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    font-size: 20px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    overflow: auto;
    background-color: rgb(255, 0, 204);
    z-index: 1;
  }

  .mb-nav li {
    list-style: none;
    padding: 10px;
  }

  .mb-nav li a {
    color: white;
    text-decoration: none;
  }

  /* mobile about content */
  .mb-nav .about-content {
    display: none;
    position: relative;
    background-color: yellow;
  }

  .mb-nav .about-content a {
    color: rgb(255, 0, 204);
    font-size: 15px;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  /* mobile info content */
  .mb-nav .info-content {
    display: none;
    position: relative;
    background-color: yellow;
  }

  .mb-nav .info-content a {
    color: rgb(255, 0, 204);
    font-size: 15px;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
  }

  .navbar ul .navbar-text {
    display: inline-block;
    flex: 100%;
    padding: 0;
  }

  .navbar ul .navbar-toggle {
    display: inline-block;
  }
}
