body{
    margin: 0px;
    text-align: center;
}

form{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 80%;
    margin:  auto;
    padding: 50px;
    /* background-color: red; */
}

form div input[type="text"],input[type="email"],input[type="password"]{
    display: block;
}

form .detail{
    width: 50%;
    text-align: center;
    /* background-color: blue; */
}

.detail h1{
    margin: 15px;
}



.detail select{
    font-size: 15px;
    padding: 7px;
    margin: 10px;
}

.detail input[type="text"]{
    margin: 20px auto;   
    width: 50%;
    font-size: 18px;
    padding: 7px;
}

form .akun {
    width: 50%;
    text-align: center;
    /* background-color: green; */
}

.akun h1{
    margin: 15px;
}

.akun input{
    width: 50%;
    margin: 20px auto;
    font-size: 20px;
    padding: 7px;
}

.akun .show{
    height: 25px;
    margin-left: 25%;
    width: 50%;
    text-align: left;
}

.akun .show input#show{
    width: auto;
    margin: 0px;
}

/* message */
.akun .message {
    width: 55%;
    margin: auto;
    text-align: left;
    background-color: rgba(247, 87, 140, 0.918);
    border-radius: 6px;
}

.akun .message p{
    font-weight: bold;
    color: red;
    margin: 0px;
    padding: 0px 10px;
}



.akun h5{
    margin: 0px;
    font-size: 15px;
    color: rgb(48, 45, 45);
}

.akun .daftar,.login{
    color: white;
    font-size: 20px;
    margin: 10px;
    padding: 7px 50px;
    border-style: none;
    border-radius: 5px ;
    background-color: rgb(0, 122, 255);
    cursor: pointer;
}

.akun .login{
    text-decoration: none;
    display: inline-block;
}

.akun .balik{
    margin: 10px;
    color: blue;
    font-size: 23px;
    display: block;
    text-decoration: underline;
}

.akun button#submit-tahap2{
    visibility: hidden;
}

/* MODAL */

.modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-content{
    margin: 10% auto;
    width: 60%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(240, 162, 162, 0.25);
}

.modal .modal-content .close{
    left: 45%;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.modal .modal-content label,.closeb{
    background-color: blue;
    margin: auto 20px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.modal .modal-content label{
    background-color: #0db02b;
}

.modal .modal-content .closeb{
    background-color: #aaaaaa;
}
