@import url('../font/font.css');

@media only screen and (min-width: 29.8125rem) {
    .ft-main {
        justify-content: space-around;
    }    
}

@media only screen and (min-width: 77.5rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    height: 100rem;
}

.header {
    overflow: hidden;
    background-color: #f1f1f1;
    padding: 10px 10px;
}

.header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
}

.header-right {
    float: right;
}

.header logo {
    font-size: 25px;
    font-weight: bold;
}

.container {
    flex: 1;
}

.tombol-bantuan {
    font-size: 2rem;
    text-align: center;
    background-color: blue;
    display: float;
    position: fixed;
    top: 50%;
}

.tombol-bantuan button{
    padding: 5px;
    color: white;
    text-decoration: none;
}
.whatsapp {
    background-color: red;
    display: float;
    position: fixed;
    border-radius: 50%;
    right: 50%;
    padding: 1rem;
}

.whatsapp a {
    color: white;
    font-size: 3rem;
    padding: 0.35rem;
}

.email {
    background-color: red;
    display: float;
    position: fixed;
    border-radius: 50%;
    right: 50%;
    top: 50%;
    padding: 1rem;
}

.email a {
    color: white;
    font-size: 3rem;
    padding: 0.2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: rgb(204, 51, 153);
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(255, 255, 51);
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}