@import url('../font/font.css');

@media only screen and (min-width: 29.8125rem) {
    .ft-main {
        justify-content: space-around;
    }    
}

@media only screen and (min-width: 77.5rem) {
    .ft-main {
        justify-content: space-evenly;
    }
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    height: 100rem;
}

.topnav {
    height: 60px;
    background-color: purple;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    overflow: hidden;
}

.topnav .logo {
    max-width: 250px;
    padding: 0 10px;
    overflow: hidden;
}

.topnav .logo a {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: 60px;
}

.topnav .logo a img {
    max-height: 60px;
    max-width: 100%;
}

.topnav .navbar {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    padding: 0 10px;
}

.topnav .navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
}

.topnav .navbar ul li a {
    text-decoration: none;
    color: blue;
    font-size: 1rem;
    text-transform: uppercase;
    display: block;
    height: 60px;
    line-height: 60px;
    cursor: pointer;
    padding: 0 10px;
}

.topnav .navbar ul li a:hover {
    color: black;
    background-color: yellow;
}

.topnav .navbar ul .close {
    display: none;
    text-align: right;
    padding: 10px;
}

.topnav .navbar ul .close span {
    font-size: 40px;
    display: inline-block;
    border: 1px solid #cccccc;
    padding: 0 10px;
    cursor: pointer;
}

.topnav .navbar .icon-bar {
    padding: 18px 8px;
    width: 50px;
    height: 60px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.topnav .navbar .icon-bar i {
    background-color: #ffffff;
    height: 2px;
}

@media only screen and (max-width:650px) {
    .topnav {justify-content: space-between;}
    .topnav .logo {flex: 1;}
    .topnav .navbar {flex:0;}
    .topnav .navbar ul {
        flex-wrap: nowrap;
        position: fixed;
        left: 100%;
        flex-direction: column;
        background-color: white;
        width: 100%;
        height: 100%;
        overflow: auto;
        transition: left .3s;
    }
    .topnav .navbar ul li a {
        padding: 10px;
        font-size: 16px;
        height: auto;
        line-height: normal;
        color: #555555;
    }
    .topnav .navbar ul .close {
        display: block;
    }
    .topnav .navbar .icon-bar {
        display: flex;
    }
    .topnav .navbar ._Menus-show {
        left: 0;
    }
}

.container {
    flex: 1;
}

.tombol-bantuan {
    font-size: 2rem;
    text-align: center;
    background-color: blue;
    display: float;
    position: fixed;
    top: 50%;
}

.tombol-bantuan button{
    padding: 5px;
    color: white;
    text-decoration: none;
}
.whatsapp {
    background-color: red;
    display: float;
    position: fixed;
    border-radius: 50%;
    right: 50%;
    padding: 1rem;
}

.whatsapp a {
    color: white;
    font-size: 3rem;
    padding: 0.35rem;
}

.email {
    background-color: red;
    display: float;
    position: fixed;
    border-radius: 50%;
    right: 50%;
    top: 50%;
    padding: 1rem;
}

.email a {
    color: white;
    font-size: 3rem;
    padding: 0.2rem;
}

ul {
    list-style: none;
    padding-left: 0;
}

footer {
    background-color: rgb(204, 51, 153);
    color: #bbb;
    line-height: 1.5;
}

footer a {
    text-decoration: none;
    color: #eee;
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(255, 255, 51);
}

.ft-legal-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}