@import url('../font/font.css');
html {
    scroll-behavior: smooth;
}

body {
    height: 100rem;
    margin: 0 auto;
    background-color: #080211;

}

header {
    position: absolute;
    top: 0;
    left: 0;
    width: 92%;
    padding: 1rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: white;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 0.5rem;
    display: flex;
    flex-direction: row;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: white;
    border-radius: 20px;
    text-transform: uppercase;
    font-family: "notosans-bold";
}

header ul li a:hover {
    background-color: yellow;
    color: black;
    text-decoration: none;
}

.page-one {
    min-height: 50rem;
    text-align: center;
    margin-top: 10rem;
    background-image: url('..//resources/lines\ yellow-01.svg');
    background-size: cover;
    background-color: #080211;
}


.page-one .circle {
    border: 2px solid white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin: 0 auto;
    padding: 10px 10px;
}

.page-one h1 {
    color: white;
    font-family: "oswald-semi";
    font-size: 6rem;
    margin: 0;
    line-height: 130%;
}

.page-one p {
    color: rgb(80, 1, 54);
    font-family: "worksans-extra";
    font-size: 1.4rem;
    margin-bottom: 3rem;
    background-color: white;
    padding: 10px 14px;
    display: inline-block;
    text-transform: uppercase;
}
.page-one a {
    text-decoration: none;
    color: white;
    padding: 10px 14px;
    background-color: #B03092;
    font-family: "poppins";
    width: 80px;
    display: block;
    margin: auto;
}

.page-one a:hover {
    background-color: yellow;
    color: black;
}

.transisi-linear {
    background-image: linear-gradient(#080211,#14042D);
    min-height: 30rem;
}

.page-two {
    /*background-image: url("../resources/bg-p2-01.png");*/
    background-image: url('../resources/Untitled-4-01.svg');
    background-size: cover;
    /*background-attachment: fixed;*/
    padding-top: 10rem;
    padding-bottom: 20rem;
    background-color: #14042D;

}

.page-two h1, .page-two p {
    width: 80%;
    margin: 0 auto;
}

.page-two h1 {
    color: white;
    font-family: "oswald-semi";
    font-size: 4rem;
    line-height: 120%;
}

.page-two p {
    color: white;
    font-family: "notosans-bold";
    font-size: 2rem;
}

.page-two p.tanggal {
    color: yellow;
    font-family: "notosans-bold";
    font-size: 2rem;
}

.page-two p.keterangan {
    color: yellow;
    font-family: "notosans-bold";
    font-size: 1rem;
    padding: 5px 20px;
}

.page-three {
    min-height: 40rem;
<<<<<<< Updated upstream
    background-image: url('../resources/laptop-01.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: #14042D;
    display: flex;
    flex-wrap: wrap;
    
=======
    background-image: url('../resources/Untitled-4-01.svg');
    background-size: cover;
    display: flex;
    align-items: center;
>>>>>>> Stashed changes
}

.page-three .container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;   
}

.page-three iframe.trailer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    height: 70%;
    display: block;
    margin: 0 auto;
}

.page-three p {
    position: absolute;
<<<<<<< Updated upstream
    left: 30px;
    transform: rotate(-90deg);
    font-family: "notosans-bold";
    
=======
    transform: rotate(-90deg);
    margin-left: 5px;
    font-family: "notosans-bold";
>>>>>>> Stashed changes
}

.page-three p span.kuning {
    color: yellow;
    font-size: 40px;
}

.page-three p.putih {
    color: white;
    font-size: 40px;
}

.page-four h1 {
    color: yellow;
    margin: 0 auto;
    width: 65%;
    font-family: "notosans-bold";
    font-size: 5rem;
}

.list-lomba {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}

.page-four .list-lomba ul {
    list-style: none;
}

.page-four .list-lomba ul li {
    display: flex;
    justify-content: center;
    padding: 6rem 2rem 6rem 2rem;
}

.page-four .list-lomba ul li a {
    color: white;
    text-decoration: none;
    font-family: "worksans-bold";
    font-size: 1.5rem;
}

.page-four .list-lomba ul li a:hover {
    color: yellow;
}












div#preload {
    display: none;
}

footer {
    background-color: rgb(204, 51, 153);
    color: #bbb;
    line-height: 1.5;
}

footer h2 {
    font-family: "notosans-bold";
}

footer a {
    text-decoration: none;
    color: #eee;
    font-family: "opensans-regular";
}

a:hover {
    text-decoration: underline;
}

.ft-title {
    color: #fff;
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.ft-main {
    padding: 1.25rem 1.875rem;
    display: flex;
    flex-wrap: wrap;
}

.ft-main-item {
    padding: 1.25rem;
    min-width: 12.5rem;
}

.ft-social {
    padding: 0 1.875rem 1.25rem;
}

.ft-social-list {
    display: flex;
    justify-content: center;
    border-top: 1px #777 solid;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    list-style: none;

}

.ft-legal {
    padding: 0.9375rem 1.875rem;
    background-color: rgb(80, 1, 54);
}

.ft-legal-list {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
}

.ft-legal-list li {
    margin: 0.125rem 0.625rem;
    white-space: nowrap;
    list-style: none;
}

.ft-legal-list li:nth-last-child(2) {
    flex: 1;
}

.ft-main-item ul li, .ft-social ul li {
    list-style: none;
}