<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta name="description" content="Ajang dimana perlombaan paling bergengsi se-Indonesia diadakan! Buruan daftar sekarang!">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <title>Beranda - Aresta 17</title>
</head>

<body>
    <div class="prompt">
        <div class="container">
            <p><i class="fas fa-info-circle"></i> Kunjungi Laman Informasi untuk Informasi terbaru.</p>
        </div>
    </div>
    <div class="background" id="bg"><div class="container" id="headline">
        <p class="aresta">aresta 17</p>
        <h1 class="tema">Modernisasi:<br>membawa perubahan,<br>memajukan peradaban</h1>
        <p class="tanggal">27-29 januari 2022</p>
        <a href="/register" class="tombol" target="_blank">daftar</a>
    </div>
    </div>
    <div class="trailer" id="trailer">
        <iframe class="frame" src="https://www.youtube.com/embed/7l4Nih6lKzM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>></iframe>
    </div>
    <div class="container" id="lomba">
        <h1 class="perlombaan">perlombaan</h1>
        <p class="keterangan">15 Lomba, Puluhan Juta.</p>
        <div class="list-lomba">
            <ul class="kolom">
                <li><a href="https://drive.google.com/file/d/1lLG8jcafgXSMl_shjxrIGnQXcvyDq_uv/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/arab.png" width="auto" height="200" alt="Icon Lomba Olimpiade Bahasa Arab"></a></li>
                <li><a href="https://drive.google.com/file/d/1P9hIFHGyhleLwAC6pZKs2PKhflXNRsV0/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/business-plan.png" width="auto" height="200" alt="Icon Lomba Business Plan"></a></li>
                <li><a href="https://drive.google.com/file/d/1RNWzpAFO_uM1awTs3yNjnjz3y7jFWm3c/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/dai-cilik.png" width="auto" height="200" alt="Icon Lomba Dai Cilik"></a></li>
                <li><a href="https://drive.google.com/file/d/1khhVzCGWxD21Xe0Xhzpc_pACtqyh6QXn/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/desain-poster.png" width="auto" height="200" alt="Icon Lomba Desain Poster"></a></li>
                <li><a href="https://drive.google.com/file/d/1gryFgel0dSWVndjR5yhOqXZleaIRnn8S/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/dramatisasi-puisi.png" width="auto" height="200" alt="Icon Lomba Dramatisasi Puisi"></a></li>
            </ul>
            <ul class="kedua">
                <li><a href="https://drive.google.com/file/d/11vqKufsTSSTTzxVjkt_F5gZB0uopq2nI/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/fotografi.png" width="auto" height="200" alt="Icon Lomba Fotografi"></a></li>
                <li><a href="https://drive.google.com/file/d/1mjmAS1o72NmWiYCgn7O352SyhmhBJq7t/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/khitobah.png" width="auto" height="200" alt="Icon Lomba Khitobah"></a></li>
                <li><a href="https://drive.google.com/file/d/1dje_yzcpi8glNBWkVAZeF1UrHNmn1geR/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/LDBI.png" width="auto" height="200" alt="Icon Lomba LDBI"></a></li>
                <li><a href="https://drive.google.com/file/d/1yKwpgZ0WF78ZCaXy8Oh0yC-akIGnJ8TE/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/mhq-sd.png" width="auto" height="200" alt="Icon Lomba MHQ SD"></a></li>
                <li><a href="https://drive.google.com/file/d/1StXiiTI9ZlC2E0rkl5C589ZoJ_gbWX8i/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/mhq-smp.png" width="auto" height="200" alt="Icon Lomba MHQ SMP"></a></li>
            </ul>
            <ul class="ketiga">
                <li><a href="https://drive.google.com/file/d/1ZuJOAgtfuIxGms29-7THexL-HkjddevT/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/mhq-sma.png" width="auto" height="200" alt="Icon Lomba MHQ SMA"></a></li>
                <li><a href="https://drive.google.com/file/d/1NQIP9oWjOHLVmF89J4dKDt1X2RTIQlFK/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/nasyid.png" width="auto" height="200" alt="Icon Lomba Nasyid"></a></li>
                <li><a href="https://drive.google.com/file/d/1DCm39GJ_nLAVme0g31gH2UvL0qYw53zW/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/story-telling.png" width="auto" height="200" alt="Icon Lomba Story Telling"></a></li>
                <li><a href="https://drive.google.com/file/d/1c7TKaf-CzYxR2dfxMbmxIlNgNm0SUCOq/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/survival-camp.png" width="auto" height="200" alt="Icon Lomba Survival Camp"></a></li>
                <li><a href="https://drive.google.com/file/d/1H6a3TtX1awYZJCgvcCXecEaB4WeWduz5/view?usp=sharing" target="_blank" rel="noopener"><img src="/img/lomba/video-kreatif.png" width="auto" height="200" alt="Icon Lomba Video Kreatif"></a></li>
            </ul>
        </div>
    </div>

    <footer>
        <section class="ft-main">
            <div class="ft-main-item" id="logo">
                <img src="../resources/LOGO_TRACE_BLACK.svg" alt="Logo OSHK" width="100" height="auto">
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Tentang Kami</h2>
                <ul>
                    <li><a href="#" target="_blank" rel="noopener">ARESTA?</a></li>
                    <li><a href="https://husnulkhotimah.sch.id" target="_blank" rel="noopener">PONPES HUSNUL KHOTIMAH</a></li>
                    <li><a href="https://www.instagram.com/officialoshk/" target="_blank" rel="noopener">OSHK</a></li>
                    <li><a href="https://coderesta.wordpress.com" target="_blank" rel="noopener">CODERESTA</a></li>
                </ul>
            </div>

            <div class="ft-main-item">
                <h2 class="ft-title">Kontak</h2>
                <ul>
                    <li><a href="https://goo.gl/maps/fkRbehSFMPoXnjLf7" target="_blank" rel="noopener">KANTOR PUSAT</a></li>
                    <li><a href="https://wa.me/6285156962968?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noopener">0851 5696 2968 (Humas)</a></li>
                    <li><a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noopener">0858 6370 4512 (Customer Support)</a></li>
                    <li><a href="mailto:aresta.husnulkhotimah@gmail.com" target="_blank" rel="noopener">aresta.husnulkhotimah@gmail.com</a></li>
                </ul>
            </div>
        </section>

        <section class="ft-social">
            <ul class="ft-social-list">
                <li><a href="https://www.instagram.com/aresta.official/" target="_blank" rel="noopener"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/c/arestatv" target="_blank" rel="noopener"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://www.tiktok.com/@official.aresta?" target="_blank" rel="noopener"><i class="fab fa-tiktok"></i></a></li>
                <li><a href="mailto:aresta.husnulkhotimah@gmail.com" target="_blank" rel="noopener"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noopener"><i class="fab fa-whatsapp"></i></a></li>
            </ul>
        </section>

        <section class="ft-weem"><h1 class="weem">Made with love by coderesta</h1></section>
    </footer>
</body>
<script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>