@import url("../font/font.css");

body {
  overflow: auto;
  width: 100%;
  height: 100%;
  margin: 0px;
  position: absolute;
  font-family: "poppins";
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: rgb(0, 0, 51);
}

.img-login {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-login img {
  margin-left: 40%;
}

.form-login {
  width: 50%;
  color: white;
}

.form-login form {
  width: 300px;
  height: 100%;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-login form h1 {
  margin: 5px auto;
  font-family: "poppins";
}

.form-login form .em-pass input {
  width: 95%;
  display: block;
  margin: 30px auto;
  padding: 13px;
  text-align: center;
  font-size: 20px;
  background-color: rgba(5, 4, 4, 0.432);
  border-style: none;
  color: white;
  outline: none;
  border-radius: 20px;
}

.form-login form .em-pass input:focus {
  border: 2px solid yellow;
}

.form-login form .show {
  text-align: left;
}

/* MESSAGE */

.form-login .message {
  background-color: red;
  width: 90%;
  margin: 0px auto;
  text-align: left;
}

.form-login .message p {
  margin: 0px;
}

.form-login .btn-container {
  margin: 15px;
}

.form-login .btn-container .btn-login {
  width: 180px;
  height: 50px;
  background-color: yellow;
  color: rgb(0, 0, 51);
  border-style: none;
  border-radius: 20px;
  font-size: 20px;
  font-family: "poppins";
  cursor: pointer;
}

.form-login .btn-container h4 {
  margin: 10px;
}

.form-login .btn-container .daftar {
  display: inline-block;
  width: 180px;
  padding: 10px 0px;
  background-color: yellow;
  color: rgb(0, 0, 51);
  border-radius: 20px;
  font-size: 20px;
  font-family: "poppins";
  cursor: pointer;
  text-decoration: none;
}

.form-login .btn-container .daftar:hover {
  background-color: rgb(255, 0, 204);
  color: white;
}

.form-login .btn-container .btn-login:hover {
  background-color: rgb(255, 0, 204);
  color: white;
}

.form-login a {
  color: rgba(255, 255, 255, 0.61);
}

@media (max-width: 1200px) {
  body {
    flex-direction: row;
    justify-content: center;
    background-color: rgb(0, 0, 51);
  }

  .img-login {
    display: none;
  }

  .form-login .btn-container .btn-login {
    width: 200px;
    height: 50px;
  }

  .form-login .btn-container .daftar {
    width: 200px;
    padding: 10px 0px;
  }
}

@media (max-width: 670px) {
  .form-login {
    width: 300px;
  }

  .form-login form {
    width: 100%;
  }

  .form-login .btn-container .btn-login {
    width: 200px;
    height: 50px;
  }

  .form-login .btn-container .daftar {
    width: 200px;
    padding: 10px 0px;
  }
}

@media (max-width: 400px) {
  .form-login {
    width: 250px;
  }

  .form-login form {
    width: 100%;
  }

  .form-login .btn-container .btn-login {
    width: 200px;
    height: 50px;
  }

  .form-login .btn-container .daftar {
    width: 200px;
    padding: 10px 0px;
  }
}

@media (max-width: 300px) {
  .form-login {
    width: 200px;
  }

  .form-login form {
    width: 100%;
  }

  .form-login .btn-container .btn-login {
    width: 150px;
    height: 50px;
  }

  .form-login .btn-container .daftar {
    width: 150px;
    padding: 10px 0px;
  }
}
