@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    background-color: black;
}

h1 {
    text-align: left;
    font-family: 'Roboto Mono';
    text-transform: uppercase;
    font-weight: 800;
    color: white;
    padding-top: 3rem;
}

div {
    text-align: center;
}

a {
    float: left;
    color: white;
    font-family: 'Roboto Mono';
    font-size: 1.2rem;
}

ul {
    display: flex;
    flex-direction: column;
    padding: 0;
}

li {
    margin: 0;
    padding: 0;
}