@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 4rem;
    padding-right: 10vw;
    padding-top: 3rem;
    color: #FF00C3;
    padding-bottom: 3rem;
}

.blog {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.blog h3 {
    font-family: 'Montserrat';
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    color: white;
}

.blog p {
    font-family: 'Montserrat';
    font-size: 1.2rem;
    padding-right: 20vw;
    color: white;
    padding-top: 1rem;
}

@media screen and (max-width:900px) {
    .container {
        padding-right: 3rem;
        padding-left: 3rem;
    }

    h1 {
        font-size: 2.5rem;
    }

    .blog p {
        padding-right: 0;
    }
}