<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/tata-cara.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
    <link rel="icon" href="/img/home/logo-icon.png" type="image/x-icon" sizes="13x20">
    <title>Tata Cara Pendaftaran - Aresta 17</title>
    <meta rel="description" content="Tata cara pendaftaran lomba melalui website resmi ARESTA 17.">
</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links" id="mb-about">About &#11167</li>
        <div class="about-content" id="ab-con">
            <a href="/#apaitu">aresta 17?</a>
            <a href="/#trailer">trailer</a>
            <a href="/#lomba">lomba</a>
            <a href="/#kontak">contact</a>
        </div>
        <li class="navbar-links"><a href="/merchandise">Merch</a></li>
        <li class="navbar-links" id="mb-info">info  &#11167</li>
        <div class="info-content" id="in-con">
            <a href="/cara-daftar">cara daftar</a>
            <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
            <!-- <a href="/jadwal-acara">jadwal acara</a> -->
        </div>
        <li class="navbar-login"><a href="/login">Login</a></li>
        <li class="navbar-links"><a href="/register">Daftar</a></li>
</div>
<nav class="navbar" id="navbar">
    <ul class="mobile">
        <li class="navbar-text" style="margin-left: 5%;">ARESTA 17</li>
        <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
    </ul>
    <ul class="desktop">
        <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
        <li class="navbar-links"><a href="/">Home</a></li>
        <li class="navbar-links" id="about">About &#11167</li>
        <div class="about-content">
            <a href="/#apaitu">aresta 17?</a>
            <a href="/#trailer">trailer</a>
            <a href="/#lomba">lomba</a>
            <a href="/#kontak">contact</a>
        </div>
        <li class="navbar-links"><a href="/merchandise">Merch</a></li>
        <li class="navbar-links" id="info">info  &#11167</li>
        <div class="info-content">
            <a href="/cara-daftar">cara daftar</a>
            <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
            <!-- <a href="/jadwal-acara">jadwal acara</a> -->
        </div>
        <li class="navbar-login"><a href="/login">Login</a></li>
    </ul>
</nav>
    <div class="page-one">
        <h1>Tata Cara Pendaftaran Akun ARESTA 17</h1>
        <h2 style="font-family:'Poppins';Color:white;padding-top:2rem">Sebelum Anda Mendaftar...</h2>
        <p>Pendaftaran secara garis besar dibagi menjadi dua fase :<br><br>> <a href="#registrasi" style="color:inherit">Registrasi Akun</a> dan<br>> <a href="#kelengkapan" style="color:inherit">Kelengkapan Dokumen</a><br><br>Kebanyakan Calon Peserta hanya berhenti sampai tahap pertama. Jika peserta hanya mendaftar akun namun belum melengkapi dokumen, maka belum dianggap sebagai peserta ARESTA 17.<br><br>Beberapa dari Calon Peserta juga belum memverifikasi Emailnya. Verifikasi Email diperlukan demi mencegah Spam dan Penyalahgunaan Email. Akun yang emailnya belum diverifikasi juga belum kami anggap sebagai Peserta ARESTA 17, dan tidak akan bisa mengakses panel Pelengkapan Dokumen.</p>
        <h2 style="font-family:'Poppins';Color:white;padding-top:2rem"id="registrasi">Registrasi Akun</h2>
        <p>1. Isi data-data yang diperlukan, seperti Asal Sekolah dan sebagainya</p>
        <p>2. Isi juga data berupa email (diperlukan untuk verifikasi nanti), nomor whatsapp aktif, serta sandi yang terdiri dari minimal 8 karakter, mempunyai huruf besar dan kecil</p>
        <img src="/img/caraDaftar/2.png" width="60%" height="auto" alt="gambar register page">
        <p>3. Klik tombol daftar</p>
        <p>4. Jika berhasil, akan muncul tampilan seperti di gambar berikut.<br>(Status akun anda masih belum aktif sampai verifikasi email selesai.)</p>
        <img src="/img/caraDaftar/3.png" width="60%" height="auto" alt="gambar pesan registrasi berhasil">
        <p>5. Buka alamat email anda</p>
        <p>6. Cari dan buka email dari informasi.aresta@gmail.com</p>
        <img src="/img/caraDaftar/4.png" width="60%" height="auto" alt="gambar isi email verifikasi">
        <p>7. Klik tombol verifikasi akun</p>
        <p>8. Jika muncul tampilan seperti di gambar, maka akun anda telah aktif.</p>
        <img src="/img/caraDaftar/5.png" width="60%" height="auto" alt="gambar pesan akun anda telah aktif">
        <p>9. Lanjutkan dengan login menggunakan email serta password yang tadi telah didaftarkan</p>
        <p>10. Proses pendaftaran akun ARESTA telah selesai. Lanjutkan dengan mengisi dokumen-dokumen yang diperlukan di <a href="/login" style="color:inherit;">Login Page</a>.</p>
        
        <h2 id="kelengkapan" style="padding-top:2rem">Kelengkapan Dokumen</h2>
        <p>1. Buka <a href="/login" style="color:inherit" target="_blank" rel="noopener">Login Page Aresta 17.</a></p>
        <img src="/img/caraDaftar/6.png" height="auto" width="60%" alt="login page ARESTA 17">
        <p>2. Lengkapi dokumen yang diperlukan. Upload gambar satu satu agar tidak error.</p>
        <img src="/img/caraDaftar/7.png" height="auto" width="60%" alt="gambar tampilan upload file dokumen">
        <p>3. Setelah semua gambar dikirim, akan keluar tampilan seperti dibawah. Harap menunggu hingga panitia selesai memverifikasi Dokumen Anda.</p>
        <img src="/img/caraDaftar/8.png" height="auto" width="60%" alt="gambar tampilan gambar sudah disubmit.">
        <p>4. Jika dokumen telah diverifikasi panitia, akan keluar tampilan seperti dibawah. Selamat, anda resmi telah menjadi peserta ARESTA 17!</p>
        <img src="/img/caraDaftar/9.png" height="auto" width="60%" alt="gambar dokumen telah diverifikasi panitia. Selamat, anda resmi menjadi peserta ARESTA 17!">
        <p class="keterangan">*Pendaftaran belum selesai hingga semua dokumen yang diperlukan dikirim.</p>
        <p class="keterangan">*Dianjurkan untuk menggunakan browser chrome</p>
        <p class="keterangan">*Bila ada pertanyaan lebih lanjut, silakan hubungi nomor Customer Service ARESTA <a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" rel="noopener" target="_blank">0858 6370 4512.</a></p>
    </div>
</body>
<script src="/js/navbar.js"></script>
</html>