<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="icon" href="/img/home/logo-icon.png" type="image/x-icon" sizes="13x20">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
    <meta name="description" content="
    Website tempat dimana sebuah ajang paling bergengsi se-Indonesia diadakan. Buruan daftar sekarang!">
    <title>Beranda - Aresta 17</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
</head>

<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
            <li class="navbar-links"><a href="/register">Daftar</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="page-one">
        <div class="circle"><img src="/img/home/logo-circle-01.webp" class="responsive-image" alt="logo aresta 17"></div>
        <h1>AJANG REMAJA<br>BERPRESTASI KE-17</h1>
        <p>Sebuah Ajang Bergengsi Se-Indonesia</p>
        <a class="tombol-daftar" href="/register">DAFTAR</a>
    </div>
    <div class="transisi-linear">
        
    </div>
    <div class="page-two" id="apaitu">
        <p><i class="fas fa-chevron-right"></i> Issue</p>
        <h1>MODERNISASI :<br>MEMBAWA PERUBAHAN,<br>MEMAJUKAN PERADABAN.</h1>
        <p class="tanggal">27-29 Januari 2022</p>
        <p class="keterangan">15 Lomba, Total Hadiah Senilai Puluhan Juta Rupiah</p>
    </div>
    <!-- <div class="page-three" id="trailer">
        <p class="putih">TRAILER<span class="kuning">ARESTA</span></p>

        <div class="container">
            <iframe class="trailer" src="https://www.youtube.com/embed/JY9oAuE8HHg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        

        <div class="imgContain">
            <img src="/img/home/laptop-01-01.svg" alt="gambar laptop aresta made">
        </div>
    </div> -->
    <div class="page-four">
        <h1 class="lomba" id="lomba">Lomba</h1>
        <div class="list-lomba">
            <ul class="kolom">
                 <li><a href="https://drive.google.com/file/d/1khhVzCGWxD21Xe0Xhzpc_pACtqyh6QXn/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/desain-poster.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/11vqKufsTSSTTzxVjkt_F5gZB0uopq2nI/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/fotografi.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1P9hIFHGyhleLwAC6pZKs2PKhflXNRsV0/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/business-plan.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1mjmAS1o72NmWiYCgn7O352SyhmhBJq7t/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/khitobah.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1dje_yzcpi8glNBWkVAZeF1UrHNmn1geR/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/LDBI.png" width="auto" height="200"></a></li>
             </ul>
             <ul class="kedua">
                 <li><a href="https://drive.google.com/file/d/1H6a3TtX1awYZJCgvcCXecEaB4WeWduz5/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/video-kreatif.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1RNWzpAFO_uM1awTs3yNjnjz3y7jFWm3c/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/dai-cilik.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1lLG8jcafgXSMl_shjxrIGnQXcvyDq_uv/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/arab.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1DCm39GJ_nLAVme0g31gH2UvL0qYw53zW/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/story-telling.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1NQIP9oWjOHLVmF89J4dKDt1X2RTIQlFK/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/nasyid.png" width="auto" height="200"></a></li>
             </ul>
             <ul class="ketiga">
                 <li><a href="https://drive.google.com/file/d/1c7TKaf-CzYxR2dfxMbmxIlNgNm0SUCOq/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/survival-camp.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1gryFgel0dSWVndjR5yhOqXZleaIRnn8S/view" rel="noopener" target="_blank"><img src="/img/lomba/dramatisasi-puisi.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1yKwpgZ0WF78ZCaXy8Oh0yC-akIGnJ8TE/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/mhq-sd.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1StXiiTI9ZlC2E0rkl5C589ZoJ_gbWX8i/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/mhq-smp.png" width="auto" height="200"></a></li>
                 <li><a href="https://drive.google.com/file/d/1ZuJOAgtfuIxGms29-7THexL-HkjddevT/view?usp=sharing" rel="noopener" target="_blank"><img src="/img/lomba/mhq-sma.png" width="auto" height="200"></a></li>
             </ul>
         </div>
 
    </div>
    





    <footer id="kontak">
        <section class="ft-main">
            <div class="ft-main-item">
                <h2 class="ft-title">Tentang Kami</h2>
                <ul>
                    <li><a href="#" target="_blank">Aresta Tahun ke Tahun</a></li>
                    <li><a href="https://husnulkhotimah.sch.id" target="_blank" rel="noreferrer">Pondok Pesantren Husnul Khotimah</a></li>
                    <li><a href="https://www.instagram.com/officialoshk/" target="_blank" rel="noopener">Organisasi Santri Husnul Khotimah</a></li>
                    <li><a href="#" target="_blank">Coderesta, divisi dari Media Digital Aresta 17</a></li>
                </ul>
            </div>
            <div class="ft-main-item">
                <h2 class="ft-title">Kontak</h2>
                <ul>
                    <li><a href="https://goo.gl/maps/fkRbehSFMPoXnjLf7" target="_blank" rel="noopener">Kantor Pusat</a></li>
                    <li><a href="https://wa.me/6285156962968?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noopener">0851 5696 2968 (Humas)</a></li>
                    <li><a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noopener">0858 6370 4512 (Customer Service)</a></li>
                    <li><a href="mailto:aresta.husnulkhotimah@gmail.com" target="_blank">aresta.husnulkhotimah@gmail.com</a></li>
                </ul>
            </div>
        </section>

        <section class="ft-social">
            <ul class="ft-social-list">
                <li><a href="https://www.instagram.com/aresta.official/" target="_blank" rel="noreferrer"><i class="fab fa-instagram"></i></a></li>
                <li><a href="https://www.youtube.com/channel/UCxVd47Eg4QKb_ENe7EGx8rw" target="_blank" rel="noreferrer"><i class="fab fa-youtube"></i></a></li>
                <li><a href="https://www.tiktok.com/@official.aresta?" target="_blank" rel="noreferrer"><i class="fab fa-tiktok"></i></a></li>
                <li><a href="mailto:aresta.husnulkhotimah@gmail.com" target="_blank" rel="noreferrer"><i class="fas fa-envelope"></i></a></li>
                <li><a href="https://wa.me/6285863704512?text=Saya%20ingin%20bertanya%20perihal%20Aresta" target="_blank" rel="noreferrer"><i class="fab fa-whatsapp" rel="noreferrer"></i></a></li>
            </ul>
        </section>

        <section class="ft-legal">
            <ul class="ft-legal-list">
                <li><a href="#" target="_blank">Terms &amp; Conditions</a></li>
                <li><a href="#" target="_blank">Privacy Policy</a></li>
                <li>&copy; 2021 Coderesta, Husnul Khotimah IBS</li>
            </ul>
        </section>
    </footer>
</body>
<script src="/js/navbar.js"></script>
<script src="/js/home.js"></script>
</html>