<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ketentuan umum</title>
    <link rel="stylesheet" href="/css/ku.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="#">aresta 17?</a>
                <a href="#">trailer</a>
                <a href="#">lomba</a>
                <a href="#">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">K U lomba</a>
                <a href="/jadwal-acara">jadwal acara</a>
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="#">aresta 17?</a>
                <a href="#">trailer</a>
                <a href="#">lomba</a>
                <a href="#">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">K U lomba</a>
                <a href="/jadwal-acara">jadwal acara</a>
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="tabel">
        <table cellspacing="0" cellpadding="20" class="tabel1">
            
            <tr>
                    <td>TWIBON</td>
                    <td><a href="https://twb.nz/aresta17">DOWNLOAD</a></td>
            </tr>
            <tr>
                    <td> STORY TELLING</td>
                    <td><a href="#">DOWNLOAD</a></td>
             </tr> 
             <tr>
                    <td> LDBI</td>
                    <td><a href="#">DOWNLOAD</a></td>
             </tr>
            <tr>
                <td> BAHASA ARAB</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>DAI CILIK</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SD</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SMP</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SMA</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>VIDEO KREATIF</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>POSTER DESIGN</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>ARESTA SURVIVAL CAMP</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>NASYID</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>KHITOBAH</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>FOTOGRAFI</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>DRAMATISASI PUISI</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>BUSINESS PLAN</td>
                <td><a href="#">DOWNLOAD</a></td>
            </tr>
        </div>
        </table>
    </div>
    
</body>
<script src="/js/navbar.js"></script>
</html>
