<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ketentuan umum</title>
    <link rel="stylesheet" href="/css/ku.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
            <li class="navbar-links"><a href="/register">Daftar</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="tabel">
        <table cellspacing="0" cellpadding="20" class="tabel1">
            
            <tr>
            <td>TWIBON</td>
            <td><a target="_blank" rel="noopener" href="https://twb.nz/aresta17">DOWNLOAD</a></td>
    </tr>
    <tr>
            <td> STORY TELLING</td>
            <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1DCm39GJ_nLAVme0g31gH2UvL0qYw53zW/view?usp=sharing">DOWNLOAD</a></td>
     </tr> 
     <tr>
            <td> LDBI</td>
            <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1dje_yzcpi8glNBWkVAZeF1UrHNmn1geR/view?usp=sharing">DOWNLOAD</a></td>
     </tr>
    <tr>
        <td>OLIMPIADE BAHASA ARAB</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1lLG8jcafgXSMl_shjxrIGnQXcvyDq_uv/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>DAI CILIK</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1RNWzpAFO_uM1awTs3yNjnjz3y7jFWm3c/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>MHQ SD</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1yKwpgZ0WF78ZCaXy8Oh0yC-akIGnJ8TE/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>MHQ SMP</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1StXiiTI9ZlC2E0rkl5C589ZoJ_gbWX8i/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>MHQ SMA</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1ZuJOAgtfuIxGms29-7THexL-HkjddevT/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>VIDEO KREATIF</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1H6a3TtX1awYZJCgvcCXecEaB4WeWduz5/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>DESIGN POSTER</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1khhVzCGWxD21Xe0Xhzpc_pACtqyh6QXn/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>ARESTA SURVIVAL CAMP</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1c7TKaf-CzYxR2dfxMbmxIlNgNm0SUCOq/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>NASYID</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1NQIP9oWjOHLVmF89J4dKDt1X2RTIQlFK/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>KHITOBAH</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1mjmAS1o72NmWiYCgn7O352SyhmhBJq7t/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>FOTOGRAFI</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/11vqKufsTSSTTzxVjkt_F5gZB0uopq2nI/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>DRAMATISASI PUISI</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1gryFgel0dSWVndjR5yhOqXZleaIRnn8S/view">DOWNLOAD</a></td>
    </tr>
    <tr>
        <td>BUSINESS PLAN</td>
        <td><a target="_blank" rel="noopener" href="https://drive.google.com/file/d/1P9hIFHGyhleLwAC6pZKs2PKhflXNRsV0/view?usp=sharing">DOWNLOAD</a></td>
    </tr>
        </div>
        </table>
    </div>
    
</body>
<script src="/js/navbar.js"></script>
</html>
