<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ketentuan umum</title>
    <link rel="stylesheet" href="/css/ku.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">K U lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
            <li class="navbar-links"><a href="/register">Daftar</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">K U lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <div class="tabel">
        <table cellspacing="0" cellpadding="20" class="tabel1">
            
            <tr>
                    <td>TWIBON</td>
                    <td><a target="_blank" href="https://twb.nz/aresta17">DOWNLOAD</a></td>
            </tr>
            <tr>
                    <td> STORY TELLING</td>
                    <td><a target="_blank" href="https://drive.google.com/file/d/1rDzCSdYoJ5Sp34unoKqvsarviAA0Rf9a/view?usp=sharing">DOWNLOAD</a></td>
             </tr> 
             <tr>
                    <td> LDBI</td>
                    <td><a target="_blank" href="https://drive.google.com/file/d/1IOYQ4w2EuSQrHdEbo4huDg5mSaK6FA0A/view?usp=sharing">DOWNLOAD</a></td>
             </tr>
            <tr>
                <td>OLIMPIADE BAHASA ARAB</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1kkvI3LnLNe70OsQ5v2LDTV5x_sX27kOn/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>DAI CILIK</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1AUyPSovFa2ljbKKGnF6SCiVSPm-fdzQk/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SD</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1S0FCZ-ccKjyiKKktF97EOjhwKzRZXdFe/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SMP</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1NHz49-LylacQIB3GVaHOkx6yW5L9hgD3/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>MHQ SMA</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1SNnLWAlEQ3sseUS3l8_PzOoLG2VJRPfq/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>VIDEO KREATIF</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1qJ-57CFZjipe9UU4AYtuSVcvSgMvdsIF/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>DESIGN POSTER</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1Vc2-5u8-nQrs1juK5O1Kn1IWOtKcoijN/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>ARESTA SURVIVAL CAMP</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1QSJj5B_m0PU85LhBKhwbM2DKX2TdSoZ5/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>NASYID</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1rAnF4TWeavHP-Cy-OHOTkxAs-8Wz1YSM/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>KHITOBAH</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1vuE7rFkR4XlaEtJ3nrMR0IRpWpbh7JkI/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>FOTOGRAFI</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1A2vjO5fCRbli1WJFzb_GL6Fe_cophTcI/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>DRAMATISASI PUISI</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1GpxfZTNwslLxG4wS8PPeWEf0phokAIf2/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
            <tr>
                <td>BUSINESS PLAN</td>
                <td><a target="_blank" href="https://drive.google.com/file/d/1sTnRsLyHJrI45ERCaGZkt8mA_m9hsiEj/view?usp=sharing">DOWNLOAD</a></td>
            </tr>
        </div>
        </table>
    </div>
    
</body>
<script src="/js/navbar.js"></script>
</html>
