<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>merchandise</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/merch.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>

</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
            <li class="navbar-links"><a href="/register">Daftar</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>
</body>
</html>