<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <nav>
        <h4>NODE MYSQL</h4>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Register</a></li> 
        </ul>
    </nav>

    

    <div class="container">
        <form action="/register" method="post">
            <div>
                <label for="email">Email</label>
                <input type="email" name="email" id="email" required>
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password" required>
            </div>
            <div>
                <label for="passwordConfirm">Confirm Password</label>
                <input type="password" name="passwordConfirm" id="passwordConfirm" required >
            </div>

            <button type="submit">Register User </button>

            <div>
                <a href="#">forget password?</a>
            </div>
        </form>
    </div>

    <% if (message !== "") { %>
        <% message.forEach(msg => { %>
            <div class="message">
                <h1><%- msg %> </h1>
            </div>
        <% }) %>
    <% } %>
    

</body>
</html>