<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <script src="https://kit.fontawesome.com/78ac0bed3f.js" crossorigin="anonymous"></script>
</head>
<body>
    <input type="checkbox" name="" id="cek">
    <div class="mb-nav">
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="mb-about">About &#11167</li>
            <div class="about-content" id="ab-con">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="mb-info">info  &#11167</li>
            <div class="info-content" id="in-con">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
            <li class="navbar-links"><a href="/register">Daftar</a></li>
    </div>
    <nav class="navbar" id="navbar">
        <ul class="mobile">
            <li class="navbar-text">ARESTA 17</li>
            <li class="navbar-toggle"><label for="cek"><i class="fas fa-bars"></i></label></li>
        </ul>
        <ul class="desktop">
            <li class="navbar-logo"><img src="/img/logoAresta1.png" height="50px" alt="logo aresta 17"></li>
            <li class="navbar-links"><a href="/">Home</a></li>
            <li class="navbar-links" id="about">About &#11167</li>
            <div class="about-content">
                <a href="/#apaitu">aresta 17?</a>
                <a href="/#trailer">trailer</a>
                <a href="/#lomba">lomba</a>
                <a href="/#kontak">contact</a>
            </div>
            <li class="navbar-links"><a href="/merchandise">Merch</a></li>
            <li class="navbar-links" id="info">info  &#11167</li>
            <div class="info-content">
                <a href="/cara-daftar">cara daftar</a>
                <a href="/ketentuan-umum">Ketentuan Umum Lomba</a>
                <!-- <a href="/jadwal-acara">jadwal acara</a> -->
            </div>
            <li class="navbar-login"><a href="/login">Login</a></li>
        </ul>
    </nav>

    <h1>Register</h1>

    <a href="/cara-daftar" style="color: #D3D3D3;">panduan pendaftaran</a>

    <div id="modal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <hr>
            <h1>data tidak dapat di ubah setelah di SUBMIT</h1>
            <hr>
            <div class="btn-modal">
                <label for="submit-tahap2" id="submit-modal">Submit</label>
                <button class="closeb" type="button">close</button>
            </div>
        </div>
    </div>

    <form action="/register" method="post" id="formID">
        <div class="detail">
            <h3>Formulir</h3>
            <div class="asalSekolah">
                <input type="text" name="asalSekolah" id="asalSekolah" placeholder="Asal Sekolah" required>
            </div>
    
            <div class="jenjang">
                <select name="sekolah" id="sekolah" required>
                    <option value="" disabled selected>--Tingkat Sekolah--</option>
                    <option value="sd">SD / Sederajat</option>
                    <option value="smp">SMP / Sederajat</option>
                    <option value="sma">SMA / Sederajat</option>
                </select>
            </div>
    
            <div class="listLomba">
                <select name="lomba" id="lomba" required>
                    <option value="" selected disabled>--pilih lomba--</option>
                    <option value="" disabled>pilih Tingkat sklh</option>
                </select>
            </div>
    
            <div>
                <label for="">Individu:</label>
                <input type="radio" name="kelompok" id="individu" value="individu" disabled>    
                <label for="">Kelompok:</label>
                <input type="radio" name="kelompok" id="tim" value="tim" disabled>
            </div>
    
            <input type="text" name="namaUtama" id="namaUtama" placeholder="Nama Lengkap" readonly required>
    
            <div class="anggota">

            </div>
        </div>

        <div class="akun">
            <h3>Buat Akun</h3>
            <input type="text" name="phone" required placeholder="Nomor Hp">
            <input class="tambah" type="email" name="email" required placeholder="email" autocomplete="off">
            <input class="pass" type="password" name="password" id="pass" required placeholder="password">

            <div class="pass-req">
                <p>-> minimal 8 karakter</p>
                <p>-> harus memiliki huruf besar, huruf kecil, dan angka</p>
            </div>
            <input class="pass" type="password" name="passwordConfirm" required placeholder="Confirm Password">

            <div class="show">
                <input type="checkbox" name="show" id="show" >
                <label for="show">show</label>
            </div>

            <div class="message">
                <% message.forEach(element => { %>
                    <p>* <%- element %> </p>
                <% }) %>
            </div>
            <div class="btn">
                <button id="op-modal" class="daftar" type="button">Daftar</button>
                <h5>atau</h5>
                <a class="login" href="/login">Login</a>
            </div>


            <button id="submit-tahap2" type="submit"></button>

        </div>
    </form>
</body>
<script src="/js/register.js"></script>
<script src="/js/usersModal.js"></script>
<script src="/js/registerSubmit.js"></script>
<script src="/js/navbar.js"></script>
<script>
    let cond = '<%= message %>'
    if (cond !== '') {
        alert(cond)
    }
</script>
</html>