<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    <h1>Isi Formulir & Daftar Akun</h1>

    <form action="/register" method="post">
        <div class="detail">
            <div class="asalSekolah">
                <input type="text" name="asalSekolah" id="asalSekolah" placeholder="Asal Sekolah" required>
            </div>
    
            <div class="jenjang">
                <select name="sekolah" id="sekolah" onchange="ubah()" required>
                    <option value="" disabled selected>--jenjang sekolah--</option>
                    <option value="smp">SMP / Sederajatnya</option>
                    <option value="sma">SMA / Sederajatnya</option>
                </select>
            </div>
    
            <div class="listLomba">
                <select name="lomba" id="lomba" onchange="myFunction()" required>
                    <option value="" selected disabled>--pilih lomba--</option>
                    <option value="" disabled>pilih jenjang sekolah terlebih dahulu</option>
                </select>
            </div>
    
            <div>
                <label for="">Individu:</label>
                <input type="radio" name="kelompok" id="individu" value="individu" disabled>    
                <label for="">Kelompok:</label>
                <input type="radio" name="kelompok" id="tim" value="tim" disabled>
            </div>
    
            <input type="text" name="namaUtama" id="namaUtama" placeholder="Nama Lengkap" readonly required>
    
            <div class="anggota">

            </div>
        </div>

        <div class="akun">
            <input class="tambah" type="email" name="email" required placeholder="email">
            <input class="pass" type="password" name="password" required placeholder="password">
            <input class="pass" type="password" name="passwordConfirm" required placeholder="Confirm Password">

            <div class="show">
                <input type="checkbox" name="show" id="show" onchange="showPassReg()">
                <label for="show">show password</label>
            </div>

            <div class="message">
                <% message.forEach(element => { %>
                    <p>* <%- element %> </p>
                <% }) %>
            </div>
            
            <button class="daftar" type="submit">Daftar</button>
            <h5>atau</h5>

            <a class="login" href="/login">Login</a>

            <a class="balik" href="/">Home</a>
        </div>
    </form>
</body>
<script src="/js/register.js"></script>
</html>