@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    background-color: black;
}


h1 {
    color: #FF00C3;
    font-family: 'Montserrat';
    font-weight: 800;
    font-size: 7rem;
    text-transform: uppercase;
    padding-top: 10vh;
}

.header p {
    font-family: 'Montserrat';
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: capitalize;
    color: #FF00C3;
    padding-right: 20vw;
    padding-bottom: 2rem;
}

a {
    font-family: 'Montserrat';
    font-weight: 700;
    text-transform: uppercase;
    font-size: 2rem;
    color: #FF00C3;
    padding-right: 20vw;
    text-decoration: none;
}

a:hover {
    color: #47C0B4;
    transition: 0.4s ease all;
}

.isi {
    padding-top: 2rem;
}

.isi ul {
    padding-bottom: 5rem;
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.isi ul li {
    padding-bottom: 2.5rem;
}

@media screen and (max-width:900px) {
    .container {
        padding-right: 2rem;
        padding-left: 2rem;
    }
    h1 {
        font-size: 3rem;
    }
    .header p {
        font-size: 1rem;
        padding-right: 1.2rem;
    }
    a {
        padding-right: 0;
        font-size: 1.7rem;
    }
}