body{
    margin: 0px;
    display: flex;
    flex-direction: row;
}

nav{
    color: #ffffff;
    background-color: #14042d;
    width: 200px;
    height: 100%;
    position: fixed; 
    text-align: center; 
}

nav img{
    margin-top: 20px;
    color: white;
}

nav h4{
    margin: 1px;
}

nav h2#daftar:hover,button#daftar{
    color: white;
    background-color:#14042d;
    cursor:default;
}

nav h2{
    margin: 0px;
    padding: 10px 5px;
    border-radius: 0px;
    border: none;
    display: block;
    cursor: pointer;
}  

nav h2:hover{
    background-color: rgba(241, 239, 239, 0.897);
    color: #14042d;
    border-radius: 50px 0px 0px 50px;
}

nav h2.active{
    color: #14042d;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

nav button{
    width: 100%;
    color: white;
    font-size: 1.5em;
    padding: 10px;
    border: none;
    background-color:transparent;
}

nav button#logout:hover{
    color: white;
    background-color: red;
    border-radius: 50px;
    cursor: pointer;
}

.tahap1,.tahap2,.tahap3,.status,.juknis,.sertifikat{    
    width: 100%;
    margin-left: 200px;
}

/* MASSGE */
.msg{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.msg h1{
    font-size: 30px; /*  */
    margin: 50px auto;
    color: red;
    padding: 20px;
}


/* Juknis & E-Sertifikat*/
.pdf{
    text-align: center;
}

.pdf embed{
    height: 400px;
    width: 700px;
}

/* MODAL */

.modal{
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal .modal-content{
    margin: 10% auto;
    width: 60%;
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(240, 162, 162, 0.25);
}

.modal .modal-content .close{
    left: 45%;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;
}

.modal .modal-content label,.closeb{
    background-color: blue;
    margin: auto 20px;
    cursor: pointer;
    font-size: 20px;
    padding: 10px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
}

.modal .modal-content label{
    background-color: #0db02b;
}

.modal .modal-content .closeb{
    background-color: #aaaaaa;
}

/* PDF */

.pdf{
    text-align: center;
}