@import url('../font/font.css');

html {
    scroll-behavior: smooth;
}

body {
    margin: 0%;
    background-color: rgb(0, 0, 51);
    height: 1000rem;
}

.halaman-pertama {
    background-color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: white;
    position: fixed;
    height: 100%;
    overflow: auto;
}

li a {
    display: block;
    color: rgb(255, 0, 201);
    padding: 8px 40px;
    text-decoration: none;
}

li a:hover:not(.KU) {
    background-color: rgb(51, 204, 204);
    color: white;
}

.halaman-pertama .KU {
    font-family: "poppins";
    font-size: 1.2rem;
}

.halaman-pertama .lomba {
    font-family: "poppins-regular";
    font-size: 0.9rem;
}

.isi {
    margin-left: 30%;
    margin-right: 10%;
    padding: 1px 16px;
}

.judul {
    font-family: "poppins";
    font-size: 1rem;
    color: white;
}

.paragraf {
    font-family: "poppins-regular";
    font-size: 0.7rem;
    color: white;
}

.paragraf p {
    margin-top: 1rem;
}

h2 {
    font-family: "bebas-thin";
    letter-spacing: 0.3rem;
}
h3 {
    font-family: "poppins-semi";
    font-size: 1rem;
    margin-top: 7%;
}
.KU-A {
    padding: 10% 0;
}

.tombol {
    font-family: "poppins";
    color: white;
    padding: 10px 18px;
    background-color: rgb(255, 0, 201);
}
