body{
    margin: 0px;
    display: flex;
    flex-direction: row;
}

nav{
    color: #ffffff;
    background-color: #14042d;
    width: 200px;
    height: 100%;
    position: fixed; 
    text-align: center; 
}

nav img{
    margin-top: 20px;
    color: white;
}

nav h1{
    margin: 2px;
}

nav h2#daftar:hover,button#daftar{
    color: white;
    background-color:#14042d;
    cursor:default;
}

nav h2{
    margin: 0px;
    padding: 10px 5px;
    border-radius: 0px;
    border: none;
    display: block;
    cursor: pointer;
}  

nav h2:hover{
    background-color: rgba(241, 239, 239, 0.897);
    color: #14042d;
    border-radius: 50px;
}

nav h2.active{
    color: #14042d;
    background-color: white;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
}

nav h2#logout:hover{
    color: white;
    background-color: red;
}

.tahap1,.tahap2,.tahap3,.status,.juknis,.sertifikat{    
    width: 100%;
    margin-left: 200px;
}

/* MASSGE */
.msg{
    width: 80%;
    margin: auto;
    text-align: center;
    border-radius: 10px ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.25);
}
.msg h1{
    font-size: 30px; /*  */
    margin: 50px auto;
    color: red;
    padding: 20px;
}