.tahap2 .upload {
  margin: 50px auto;
  width: 80%;
  margin: 15px auto;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3),
    0 6px 20px 0 rgba(240, 162, 162, 0.25);
}

.tahap2 .upload form {
  padding: 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.tahap2 .upload .msg {
  box-shadow: none;
}

.tahap2 .upload table td input {
  width: 100px;
}

.tahap2 img#logo-pending,
img#logo-selesaiTahap2 {
  padding: 20px;
}

.tahap2 button#submit-tahap2 {
  visibility: hidden;
}

.tahap2 button#op-modal {
  cursor: pointer;
}
