@font-face {
    font-family: "uraenium";
    src: url("../font/urae_nium.ttf");
}
@font-face {
    font-family: "roboto mono";
    src: url("../font/RobotoMono-Light.ttf");
}
body {
    margin: 0%;
    background-color:black;
}
.comingsoon {
    color: white;
    margin-left: 4em;
    margin-top: 10em;
}
.coming {
    font-family: "uraenium";
    font-size: 5rem;
}
.aresta,
p,
a {
    font-family: "roboto mono";
    font-size: 1rem;
    color: inherit;
}