@import url(../font/font.css);

body {
    background-color: rgb(0, 0, 51);
}
.error {
    margin-top: 5rem;
    margin-left: 3rem;
    margin-right: 3rem;
}

.error h1 {
    font-family: "bebas-regular";
    font-size: 10rem;
    text-align: center;
    margin-top: 13rem;
    color: white;
}

.error .p1 {
    font-family: "bebas-regular";
    font-size: 2rem;
    text-align: center;
    margin-top: -7rem;
    color: white;
}

.error .p2 {
    font-family: "roboto-medium";
    font-size: 1rem;
    text-align: center;
    color: white;
}