@import url('../font/font.css');

body {
    background-color: black;
    height: 100rem;
}

.topnav {
    color: white;
    font-family: "bebas-regular";
    margin: 3rem 8rem 0rem 8rem;
}

.halaman-pertama {
    margin-left: 8rem;
    margin-right: 8rem;
    color: white;
    margin-top: 3rem;
    margin-bottom: 6rem;
}

.proudly {
    font-family: "roboto-thin";
    font-size: 0.8rem;
}

.judul {
    font-family: "bebas-regular";
    font-size: 1.6rem;
    color: white;
    display: unset;
    letter-spacing: 0.2rem;
}

.judul h1 {
    margin: 0rem;
    margin-block: inherit;
}

.judul .modern {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-block-end: 0rem;
}

.nomor {
    font-family: "bebas-thin";
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    margin-top: 0rem;
}

.nomor h2 {
    margin: 0.3rem 0rem 0rem 0rem;
}

.keterangan {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    margin-right: 35rem;
    font-family: "roboto-thin";
    font-size: 0.8rem;
    text-justify: inter-word;
    color: rgba(255, 255, 255, 0.5);
}

.modernisasi {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    margin-left: 5rem;
    color: white;
}

.small-credit {
    color: white;
    display: grid;
    margin-top: 1.5rem;
}

.halaman-dua {
    margin: 20rem 8rem 6rem 8rem;
}

.video {
    margin: 0rem 15rem 0rem 15rem;
}

.pojokbawah {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 2;
    align-items: flex-start;
}

.pojokbawah2 {
    display: grid;
    grid-column-start: 2;
    grid-column-end: 3;
    align-items: flex-start;
}